####################################################################################################
# \brief    Failure Probability Estimator - Git - Ignore patterns                                  #
#                                                                                                  #
# \author   Julien CAM                                                                             #
#                                                                                                  #
# \date     2025/01/22                                                                             #
####################################################################################################

# Compilation results
build/

# Intermediate results of the computation
saved/

####################################################################################################
# END OF FILE                                                                                      #
####################################################################################################